/* تنظیمات عمومی */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #121212;
    color: #00ff00;
    font-size: 1.5rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.container {
    text-align: center;
    z-index: 10;
}

header h1 {
    font-size: 3rem;
    color: #00ff00;
    text-shadow: 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00;
    margin-bottom: 20px;
}

footer {
    margin-top: 50px;
    color: #808080;
    font-size: 1rem;
}

/* استایل پیام‌های هکری */
.message {
    color: rgb(255, 0, 0);
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
    animation: slideUp 2s ease-in-out;
}

/* انیمیشن حرکت پیام‌ها */
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}